.btn {
	display: inline-block;
	padding: 1.7rem 2.6rem;
	background-color: var(--yellow);
	color: var(--white);
	line-height: 1.5;
	font-size: 1.7rem;
	border-radius: 1rem;
	text-align: center;
	box-shadow: 0 2rem 3.5rem 0 rgba(241, 165, 1, 0.15);
	transition: background-color .3s,
							box-shadow .3s;

	&:hover {
		background-color: #e19a00;
		box-shadow: none;
	}
}

.play-btn {
	display: grid;
	grid-template-columns: repeat(2, auto);
	gap: 2rem;
	align-items: center;
	user-select: none;

	&:hover {
		.play-btn__icon {
			box-shadow: none;
		}
	}

	&__icon {
		position: relative;
		width: 5.2rem;
		height: 5.2rem;
		display: grid;
		place-content: center;
		border-radius: 50%;
		background-color: #DF6951;
		box-shadow: 0 2rem 3.5rem 0 rgba(#DF6951, .2);
		transition: box-shadow .3s;

		&::after {
			content: '';
			position: relative;
			right: -.2rem;
			border-top: .7rem solid transparent;
			border-left: 1.2rem solid var(--white);
			border-bottom: .7rem solid transparent;
		}
	}

	&__text {
		font-size: 1.7rem;
	}
}

.btn-subscribe {
	min-width: 18rem;
	min-height: 5.5rem;
	display: inline-block;
	padding: 1.5rem 2.6rem;
	text-align: center;
	font-size: 1.7rem;
	color: var(--white);
	border-radius: 1rem;
	background: var(--gradient-1);
}
